<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>Setup</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" th:href="@{/css/setup.css}">
</head>
<body>
    <div class="container">
        <div class="setup_topper">
            Add a Dog
        </div>

        <div class="profile_edit_doggo">
            <div class="fill_in">
                Please fill in the following regarding your dog:
            </div>
            <form th:action="@{/edit/owner/add}" method="post">
                <input type="hidden" name="form" value="owner">
                <div class="inputBox">
                    <p>Name: </p>
                    <p><input type="name" name="name" value="" required></p>
                </div>
                <div class="inputBox">
                    <p>Dog breed: </p>
                    <p><input type="breed" name="breed" required></p>
                </div>
                <div class="inputBox">
                    <p>Age: </p>
                    <p><input type="age" name="age" required></p>
                </div>
                <div class="inputBox">
                    <p>Energy level: </p>
                    <p><input type="energyLevel" name="energyLevel" required></p>
                </div>
                <div class="inputBox">
                    <p>Allowed treats: </p>
                    <p><textarea name="allowedTreats" rows="3" placeholder="What treats would your dog like..." optional></textarea></p>
                </div>
                <div class="inputBox">
                    <p>Healthcare: </p>
                    <p><textarea name="healthcare" rows="4" placeholder="Does your dog have any special needs (alergies, medication, etc. ...) ..." optional></textarea></p>
                </div>
                <div class="inputBox">
                    <p>Personality: </p>
                    <p><textarea name="personality" rows="4" placeholder="Describe how friendly your dog is with other dogs..." optional></textarea></p>
                </div>
                <div class="confirm_bttn_wrap">
                    <div class="confirm_button">
                        <p><input type="submit" value="Confirm"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

</html>