<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>PawPal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
</head>
<body>
    <header>
        <img id="logo"src="/images/logo.png">
    </header>
    </header>
    <div class="walkerPhotos">
        <div id="walkerPhotos"></div>
    </div>
    <div class="walkerData">
        <div id="starRate"><img src="/images/starRate.svg"></div>
        <div id="name">Name:</div>
        <div id="surname">Surame: </div>
        <div id="contact">Contact: </div>
        <div id="location">Location: </div>
        <button id="edit">
            <img src="/images/edit.svg">
            <span>Edit info</span>
        </button>
    </div>
    <div class="dogContainer"></div>
    <div class="dogData">
        <div class="name">Name:</div>
        <div class="breed">Breed:</div>
        <div class="age">Age:</div>
        <div class="energyLevel">Energy level:</div>
        <div class="allowedTreats">Allowed treats:</div>
        <div class="healthcare">Healthcare:</div>
        <div class="personality">Personality:</div>
        <div class="manageDog">
            <button class="delete">
                <img src="/images/delete.svg">
                <span>Remove dog</span>
            </button>
            <button class="edit">
                <img src="/images/edit.svg">
                <span>Edit dog info</span>
            </button>
        </div>
    </div>
    <div class="availableAppointments">
        <div class="appointmentContainer"></div>
        <form id="setAppointment" th:action="@{/walk/walker/submit}" method="post">

            <div id="chooseType">
                <span>Choose type of walk:</span><br>

                <input type="radio" id="type-individual" name="type" value="INDIVIDUAL" checked>
                <label for="type-individual">Individual</label>

                <input type="radio" id="type-group" name="type" value="GROUP">
                <label for="type-group">Group</label>
            </div>

            <div class="text">
                <input type="number" id="price" name="price" placeholder="Enter price" required
                    min="0">
            </div>

            <div class="text">
                <input type="number" id="duration" name="duration" placeholder="Duration in minutes" 
                required min="0">
            </div>

            <div>
                <input id="datetime" name="datetime" type="datetime-local" required>
            </div>

            <div>
                <input id="submit" type="submit" value="Save changes">
            </div>

        </form>
        <button id="add">
            <img src="/images/add.svg">
            <span>Add new</span>
        </button>
    </div>
    <div class="appointment">
        <div class="type"></div>
        <div class="price"></div>
        <div class="duration"></div>
        <div class="datetime"></div>
        <div class="manageAppointment">
            <button class="delete">
                <img src="/images/delete.svg">
                <span>Remove</span>
            </button>
            <button class="edit">
                <img src="/images/edit.svg">
                <span>Edit</span>
            </button>
        </div>
        <button class="book">
            <img src="/images/add.svg">
            <span>Book</span>
        </button>
    </div>
    <div class="reviewBlock"></div>
    <div class="review">
        <div class="grade"></div>
        <div class="comment"></div>
        <div class="image"></div>
    </div>
    <div class="manageAccount">
        <form action="/delete" method="post"
              onsubmit="return confirm('Your account will be permanently deleted and you won\'t be able to undo it!')">
            <button type="submit" id="delete">Delete account</button>
        </form>
        <button id="addDog">Add dog</button>
        <form id="logOut"  th:action="@{/logout}" method="post">
            <button type="submit">Log out</button>
        </form>
        <button id="seeOtherWalkers">See other walkers</button>
    </div>
    <div class="subscription">
        <div id="subscribed"></div>
        <button id="yes">Unsubscribe</button>
        <button id="no">Subscribe</button>
    </div>
    <div class="filterWalkers">
        <button id="filterByLocation">Location</button>
        <button id="filterByPrice">Price</button>
        <button id="filterByGrade">Grade</button>
    </div>
    <div class="filter">
        <form id="defineFilter">
            <div class="text">
                <input type="text" id="walkerLocation" name="walkerLocation" 
                    placeholder="Enter location">
            </div>
            <div class="text">
                <input type="number" id="walkerPrice" name="walkerPrice" 
                    placeholder="Price in euros" min="0" step="any">
            </div>
            <div class="text">
                <input type="number" id="walkerGrade" name="walkerGrade" 
                    placeholder="Rating" min="0" max="5">
            </div>
            <div>
                <input id="searchByFilter" type="submit" value="Search">
            </div>
        </form>
    </div>
    <!--klasa za container za kartice s terminima-->
    <div class="walkerContainer">
        <div class="termini-title">
            <h3>Choose one of the currently available walkers: </h3>
        </div>
    </div>
    <div class="walkerCard">
        <div class="grade"></div>
        <div class="fullName"></div>
        <div class="location"></div>
        <div class="contact"></div>
    </div>
    <div id="toolbar">
        <div class="walker">
            <button class="account">
                <img src="/images/account.svg">
                <span id="account">Account</span>
            </button>
            <button class="walking">
                <img src="/images/paw.svg">
                <span id="walk">Walk</span>
            </button>
            <button id="recommendedWalks">
                <img src="/images/addTask.svg">
                <span id="addTask">Recommended walks</span>
            </button>
            <button id="paymentMethod">
                <img src="/images/addCard.svg">
                <span id="addCard">Payment method</span>
            </button>
        </div>
        <div class="owner">
            <button class="account">
                <img src="/images/bone.svg">
                <span id="bone">Account</span>
            </button>
            <button class="walk">
                <img src="/images/paw.svg">
                <span id="walk">Walk</span>
            </button>
            <button id="findWalker">
                <img src="/images/search.svg">
                <span id="search">Find walker</span>
            </button>
            <button id="recommendedWalkers">
                <img src="/images/notifications.svg">
                <span id="notifications">Recommended walkers</span>
            </button>
        </div>
    </div>

    <!-- specijalan pop-up za termine -->
    <div id="rezervPop" class="rezervacijaPopUp hidden">
        <div class="sadrzajPopUp">

            <span class="close">&times;</span> <!--za zatvaranje prozora-->

            <h2>Book a walking tour</h2>

            <form id="rezervForm" th:action="@{/reserve}" method="post">
                <input type="hidden" id="_eventId" name="eventId" value="">
                <input type="hidden" id="_usernameWalker" name="walkerUsername" value="">

                <input type="hidden" id="_date" name="date" value="">
                <input type="hidden" id="_duration" name="duration" value="">
                <input type="hidden" id="_type" name="type" value="">

                <p id="imeSetac"></p>

                <label>
                    Starting address:
                    <textarea name="address" id="startingAddress"></textarea>
                </label>

                <label>
                    Additional information:
                    <textarea name="notes" id="additionalInfo"></textarea>
                </label>

                <div class="popwrap">
                    <button type="submit">Confirm reservation</button>
                </div>
            </form>
        </div>
    </div>

    <!--popup za vlasnika kad je rezervacija potvrdena-->
    <div id="uSetnjiPop" class="uSetnjiPop hidden">
        <div class="sadrzajPop2">

            <h2>Reservation confirmed!</h2>

            <div class="shortInfo">
                <p>You have successfully reserved a walk!</p>
                <p>Short info about the walk...</p>
                <p>Walker: Jakov Andrić</p>
                <p>Time: 18:00 - 20:00</p>
                <p>Type: group walk</p>
                <p>Starting address: FER</p>
                <p>Starting address: FER</p>
                <p>Please be sure to prepare your dog(s) for the walk before the walker arrives</p>
            </div>

            <div class="buttonContainer2">
                <button id="understood">Understood</button>
            </div>
        </div>
    </div>

    <!--novi popup za prihvaćanje ili odbijanje rezervacije termina-->
    <div id="prihPop" class="prihvatiPopUp hidden">
        <div class="sadrzajPrihPop">

            <h2>New reservation!</h2>

            <div class="infoVlasnik">
                <p>Time: 18:00 - 20:00</p>
                <p>Type: group walk</p>
                <p>Starting address: FER</p>
                <!--dog info? bilo bi zgodno da se to vidi, ali šta ako je grupno??-->
                <p>Notes: My dog recently had his legs removed so you will have to carry him idgaf...</p>
                <p>Notes: My dog recently had his legs removed so you will have to carry him idgaf...</p>
            </div>

            <div class="buttonContainer">
                <div class="buttonDecline">
                    <button type="submit">Decline</button>
                </div>

                <form th:action="@{/reservation/accept}" method="post" class="buttonAccept">
                    <input type="hidden" name="type">
                    <input type="hidden" name="date">
                    <input type="hidden" name="duration">
                    <input type="hidden" name="address">
                    <input type="hidden" name="ownerUsername">
                    <button type="submit">Accept</button>
                </form>
            </div>

        </div>
    </div>

    <script th:inline="javascript">
        window.DEFAULT_WALKER = [[${walker}]]
        window.role = [[${role}]]
        window.walks = [[${walks}]]
        window.dogs = [[${dogs}]]
        window.walkers = [[${walkers}]]
        window.events = [[${events}]]
    </script>

    <script th:inline="javascript" th:if="${role == 'WALKER'}">
        window.price = {
            monthly: [[${price.monthly}]],
            yearly: [[${price.yearly}]]
        };
    </script>

    <script th:src="@{/scripts/homepage.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

    <script>
        const socket = new SockJS('/ws');
        const stompClient = Stomp.over(socket);

        stompClient.connect({}, function () {
            stompClient.subscribe('/user/queue/notifications', function (message) {
                const payload = JSON.parse(message.body);
                console.log("Notification:", payload);

                if (payload.notes != null) {
                    const popup = document.getElementById("prihPop");
                    const info = popup.getElementsByClassName("infoVlasnik").item(0);
                    const btnAcp = popup.getElementsByClassName("buttonAccept").item(0);

                    info.children.item(0).innerHTML = "Type: " + payload.type
                    info.children.item(1).innerHTML = "Date: " + payload.date
                    info.children.item(2).innerHTML = "Duration: " + payload.duration
                    info.children.item(3).innerHTML = "Starting address: " + payload.address
                    info.children.item(4).innerHTML = "Notes: " + payload.notes

                    popup.classList.remove("hidden");

                    // 0 is _csfr
                    btnAcp.children.item(1).value = payload.type
                    btnAcp.children.item(2).value = payload.date
                    btnAcp.children.item(3).value = payload.duration
                    btnAcp.children.item(4).value = payload.address
                    btnAcp.children.item(5).value = payload.ownerUsername
                } else {
                    const popup = document.getElementById("uSetnjiPop");
                    const info = popup.getElementsByClassName("shortInfo").item(0);

                    info.children.item(2).innerHTML = "Walker: " + payload.ownerUsername
                    info.children.item(3).innerHTML = "Type: " + payload.type
                    info.children.item(4).innerHTML = "Date: " + payload.date
                    info.children.item(5).innerHTML = "Duration: " + payload.duration
                    info.children.item(6).innerHTML = "Starting address: " + payload.address

                    popup.classList.remove("hidden");
                }
            });
        });
    </script>
</body>
</html>