<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>PawPal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <script>
        let role = "[[${role}]]";

        window.addEventListener("load", function() {
            function hideElementsByClass(className) {
                const elements = document.getElementsByClassName(className);

                for (let el of elements) {
                    el.style.display = "none";
                    }
            }

            if (role === "WALKER") {
                hideElementsByClass("owner");
                hideElementsByClass("dogData");
            } else {
                hideElementsByClass("walker");
                hideElementsByClass("walkerData");
            }
        })
    </script>
</head>
<body>
<header>
    <img id="logo" src="/images/logo.png">
</header>
<div id="toolbar">
    <div class="walker">
        <button>
            <img src="/images/account.svg">
            <span id="account">Account</span>
        </button>
        <button>
            <img src="/images/paw.svg">
            <span id="walk">Walk</span>
        </button>
        <button>
            <img src="/images/addTask.svg">
            <span id="addTask">Recommended walks</span>
        </button>
        <button>
            <img src="/images/addCard.svg">
            <span id="addCard">Payment method</span>
        </button>
    </div>
    <div class="owner">
        <button>
            <img src="/images/bone.svg">
            <span id="bone">Account</span>
        </button>
        <button>
            <img src="/images/paw.svg">
            <span id="walk">Walk</span>
        </button>
        <button>
            <img src="/images/search.svg">
            <span id="search">Find walker</span>
        </button>
        <button>
            <img src="/images/notifications.svg">
            <span id="notifications">Recommended walkers</span>
        </button>
    </div>
</div>
<div class="walkerData" th:if="${walker != null}">
    <div id="name">Name: [[${walker.name}]]</div>
    <div id="surname">Surame: [[${walker.surname}]]</div>
    <div id="contact">Contact: [[${walker.contact}]]</div>
    <div id="location">Location: [[${walker.location}]]</div>
</div>
<div class="dogData" th:if="${dog != null}">
    <div id="name">Name: [[${dog.name}]]</div>
    <div id="breed">Breed: [[${dog.breed}]]</div>
    <div id="age">Age: [[${dog.age}]]</div>
    <div id="energyLevel">Energy level: [[${dog.energylvl}]]</div>
    <div id="allowedTreats">Allowed treats: [[${dog.treat}]]</div>
    <div id="healthcare">Healthcare: [[${dog.health}]]</div>
    <div id="personality">Personality: [[${dog.social}]]</div>
</div>
<div class="manageAccount">
    <button id="delete">Delete account</button>
    <button id="edit">Edit account</button>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Log out</button>
    </form>
</div>
</body>
</html>