<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>Edit</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" th:href="@{/css/setup.css}">
</head>
<body>
    <div class="container">
        <div class="setup_topper">
            Setup your profile
        </div>

        <div class="role_frame">
            <h1>First a quick question:</h1>
            <div class="question">
                <h1>What is your role?</h1>
                <p>(This can't be changed later on)</p>
            </div>
            <div class="response_wrap">
                <div class="response">
                    I'm a:
                </div>
            </div>
            <form id="setup_form">
                <div class="choose_role">
                    <input type="radio" name="role" id="owner" checked>
                    <label for="owner">Dog owner</label>
                    <input type="radio" name="role" id="walker">
                    <label for="walker">Dog walker</label>
                </div>
                <div class="setup_bttn_wrap">
                    <div class="setup_button">
                        <p><input type="submit" value="Finish"></p>
                    </div>
                </div>
            </form>
        </div>

        <div class="profile_edit">
            <div class="fill_in">
                Please fill in the following:
            </div>
            <form th:action="@{/setup}" method="post">
                <input type="hidden" name="form" value="walker">
                <div class="inputBox">
                    <p>Name: </p>
                    <p><input type="name" name="name" value="" required></p>
                </div>
                <div class="inputBox">
                    <p>Surname: </p>
                    <p><input type="surname" name="surname" required></p>
                </div>
                <div class="inputBox">
                    <p>Contact: </p>
                    <p><input type="contact" name="contact" required></p>
                </div>
                <div class="inputBox">
                    <p>Location: </p>
                    <p><input type="location" name="location" required></p>
                </div>
                <div class="confirm_bttn_wrap">
                    <div class="confirm_button">
                        <p><input type="submit" value="Confirm"></p>
                    </div>
                </div>
            </form>
        </div>

        <div class="profile_edit_doggo">
            <div class="fill_in">
                Please fill in the following regarding your dog:
            </div>
            <form th:action="@{/setup}" method="post">
                <input type="hidden" name="form" value="owner">
                <div class="inputBox">
                    <p>Name: </p>
                    <p><input type="name" name="name" value="" required></p>
                </div>
                <div class="inputBox">
                    <p>Dog breed: </p>
                    <p><input type="breed" name="breed" required></p>
                </div>
                <div class="inputBox">
                    <p>Age: </p>
                    <p><input type="age" name="age" required></p>
                </div>
                <div class="inputBox">
                    <p>Energy level: </p>
                    <p><input type="energyLevel" name="energyLevel" required></p>
                </div>
                <div class="inputBox">
                    <p>Allowed treats: </p>
                    <p><textarea name="allowedTreats" rows="3" placeholder="What treats would your dog like..." optional></textarea></p>
                </div>
                <div class="inputBox">
                    <p>Healthcare: </p>
                    <p><textarea name="healthcare" rows="4" placeholder="Does your dog have any special needs (alergies, medication, etc. ...) ..." optional></textarea></p>
                </div>
                <div class="inputBox">
                    <p>Personality: </p>
                    <p><textarea name="personality" rows="4" placeholder="Describe how friendly your dog is with other dogs..." optional></textarea></p>
                </div>
                <div class="confirm_bttn_wrap">
                    <div class="confirm_button">
                        <p><input type="submit" value="Confirm"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        const container = document.getElementsByClassName('container')[0];

        const form = document.getElementById('setup_form');
        const radioOwner = document.getElementById('owner');
        const radioWalker = document.getElementById('walker');

        const role_frame = document.getElementsByClassName('role_frame')[0];
        const profile_edit = document.getElementsByClassName('profile_edit')[0];
        const profile_edit_doggo = document.getElementsByClassName('profile_edit_doggo')[0];

        profile_edit.style.display = 'none';
        profile_edit_doggo.style.display = 'none';

        form.addEventListener('submit', function (event) {
            event.preventDefault();
            container.removeChild(role_frame);

            if (radioWalker.checked) {
                profile_edit.style.display = 'block';
            } else if (radioOwner.checked){
                profile_edit_doggo.style.display = 'block';
            }
        });

        history.pushState({ screen: 'current' }, '', location.href);
    </script>

</body>

</html>