html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: #FDA400;
    display: flex;
    flex-direction: column;
}

.topper {
    background-color: #713600;
    color: white;
    height: 33.33%;
    min-height: 360px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topper img{
    display: flex;
    align-self: center;
    justify-self: center;
}

.big_wrap {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.reg_info_card  {
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 100%;
    max-width: 200px;
    font-size: 1.5rem;
    color: white;
    background-color: #713600;
    border-radius: 10px;
    padding: 14px;
    margin-top: 20px;
    margin-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.choose_role {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1.5rem;
    background: white;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    margin-left: 32px;
    max-width: fit-content;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text_role {
    background: #713600;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background: rgb(222, 2, 2);
    color: white;
    transform: scale(1.05);
}

label {
    font-size: 1.5rem;
    background: #DEDEDE;
    padding: 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

label:hover {
    transform: scale(1.05);
    background: #ffe9e9;
}

.inputBox{
    padding-left: 32px;
}

.inputBox input {
    color: #4f4f4f;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 1.5rem;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reg_bttn_wrap {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 20px;
}

.reg_button {
    background: white;
    width: fit-content;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reg_button input{
    background: #713600;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.reg_button input:hover{
    transform: scale(1.05);
    cursor: pointer;
}

p {
    align-self: center;
}

.login_card {
    background-color: #713600;
    color: white;
    height: 13%;
    min-height: 110px;
    width: 100%;
    max-width: 300px;
    margin: 0;
    font-size: 1.5rem;
    margin-top: auto;
    border-radius: 0%;
    border-top-right-radius: 30px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login {
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: #4f4f4f;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    width: 85%;
    border: none;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login:hover{
    transform: scale(1.05);
    cursor: pointer;
}

@media (min-width: 550px) {
  .topper {
    width: 550px;
    align-self: center;
    justify-self: center;
  }
}

@media (min-width: 900px){
    html {
        background: radial-gradient(circle,rgba(253, 164, 0, 1) 0%, rgba(113, 54, 0, 1) 100%);
        display: flex;
        align-content: center;
        justify-content: center;
    }

    body {
        flex-direction: row;
        height: 600px;
        width: 900px;
        align-self: center;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .topper {
        height: 100%;
        width: 400px;
        border-radius: 0;
        box-shadow: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .reg_info_card {
        height: fit-content;
    }

    form {
        background: #713600;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        margin-left: 32px;
        margin-top: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .login_card {
        align-self: flex-end;
        border-radius: 0;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 10px;
    }
}