body{
    background-color: #FDA400;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
}

header {
    background-color: #713600;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 20%;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
}

#logo {
    position: relative;
    height: 100px;
    width: auto;
}

#toolbar {
    background-color: #713600;
    color: white;
    position: sticky;
    bottom: 0;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 0;
}

.walker, .owner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.walker button, .owner button {
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color:#713600;
    font-size: 0.8rem;
}

.walker button:hover, .owner button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color:#381b00;
}

.walker button span,  .owner button span{
    display: none;
}

.walkerData, .dogData, .subscription, .review, .reviewBlock, .walkerPhotos, .availableAppointments,
    .appointment, .walkerCard, .filter, #payment, #paymentPlan{
        background-color: white;
        color: #713600;
        margin: 5% 20px;
        border-radius: 30px;
        margin-bottom: 0;
}

.walkerCard {
    margin: 20px;
}

.reviewBlock, .availableAppointments {
    background-color:#7137004f;
}

.filter {
    margin-bottom: 20px;
}

#searchByFilter {
    margin-left: 5px;
    background-color: #FDA400;
    color: white;
}

.walkerData div, .dogData div, #edit, .subscription div, #yes, #no, .reviewBlock div, #add, 
    .availableAppointments div, #book , .availableAppointments form, #submit, .walkerCard div,
    .filter div, .book, #payment form, #paymentPlan div, #paymentPlan span, #change{
        margin: 5px;
        padding: 20px;
}

.reviewBlock div, .availableAppointments div, .availableAppointments form, .filter div, .filter form, 
    #payment form{
        padding: 0;
        margin: 10px;
}

.availableAppointments form, .filter form, #payment form {
    border-radius: 30px;
    background-color: white;
    padding: 10px;
}

form input{
    font-size: 1.25rem;
    border-radius: 10px;
}

.review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center; 
    justify-content:flex-start; 
    margin: 15px;
}

.review div{
    margin: 15px;
}

.review .comment{
    max-width: 75%;
}

.review .image img{
    width:100%;
    height: auto;
}

.appointment {
    display: flex;
    flex-direction: column; 
    justify-content:flex-start; 
    margin: 15px;
}

.subscription {
    margin-bottom: 25px;
    margin-top: 25px;
}

.walkerPhotos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #FDA400;
}

.walkerCard { 
    cursor: pointer; 
    transition: 0.2s; 
} 

.walkerCard:hover {
    transform: scale(1.02);
}

#walkerPhotos img, .image {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

#edit, #yes, #no, #add, #book, #submit , .book, #change{
    margin-left: 65%;
    padding: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 5px;
}

#starRate, .grade {
    margin-left: 10px;
    padding: 10px;
    display: flex; 
    align-items: center; 
    gap: 5px;
    color: #FDA400;
}

.manageAccount, .manageDog, .manageAppointment, .filterWalkers{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filterWalkers button, #seeOtherWalkers{
    color:#381b00;
}

button, input[type="submit"]{
    padding: 10px;
    border-radius: 30px;
    border-style: none;
    font-size: 1rem;
}

#delete {
    color: red;
}

button:hover, input[type="submit"]:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#edit, .edit, #add {
    color: white;
    background-color: #34BA44;
}

#yes, #no, #book, #submit, .book {
    color: white;
    background-color: #FDA400;
    width: fit-content;
}

.edit {
    display: flex; 
    align-items: center; 
    gap: 5px;
}

.delete {
    color: white;
    background-color: red;
    display: flex; 
    align-items: center; 
    gap: 5px;
}

#addDog {
    color: green;
}

#payment {
    margin-bottom: 20px;
}

#chooseFrequency, #chooseMethod {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.inside {
    margin-left: 5%;
}

#paymentPlan div {
    margin-left: 10%;
    padding: 10px;
}

#paymentPlan span {
    margin-top: 10px;
}

#change {
    margin: 15px;
    margin-left: 65%;
    background-color:#713600;
    color: white;
}

.termini-title {
    background:#538b3c;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 16px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.termin-card {
    background: white;
    border-radius: 15px;
    margin: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.termin-flag {
    background: #538b3c;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    width: fit-content;
}

.termin-flag h3{
    margin-bottom: 15px;
    padding: 10px;
}

.termin-box {
    background: #598f014f;
    color: #3a3a3a;
    font-weight: bold;
    border-radius: 10px;
    margin: 13px;
    margin-bottom: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.rezervacijaDugme {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.rezervacijaDugme button{
    background: #34BA44;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px;
    margin-top: 13px;
    margin-right: 13px;
    margin-bottom: 13px;
    max-width: fit-content;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rezervacijaPopUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.sadrzajPopUp {
    background: white;
    color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.sadrzajPopUp form {
    background: #538b3c;
    color: white;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    min-width: 330px;
    flex-direction: column;
}

.sadrzajPopUp label{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #6d6d6dc2;
    border-radius: 5px;
}

.popwrap {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.sadrzajPopUp button{
    width: fit-content;
}

.rezervacijaPopUp.hidden {
    display: none;
}

.prihvatiPopUp.hidden {
    display: none;
}

.prihvatiPopUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.sadrzajPrihPop {
    background: white;
    color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.sadrzajPrihPop h2{
    background:#538b3c;
    border-radius: 10px;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.infoVlasnik {
    background: #598f014f;
    border-radius: 15px;
    padding: 20px;
    color: black;
    max-width: 500px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;   
    min-width: 100%;
}

.buttonContainer button {
    margin: 15px;
    font-size: 1.35rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonAccept button{
    background: #34BA44;
    color: white;
}

.buttonDecline button{
    background-color: rgb(221, 2, 2);
    color: white;
}

.uSetnjiPop.hidden{
    display: none;
}

.uSetnjiPop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.sadrzajPop2 {
    background: white;
    color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.sadrzajPop2 h2{
    background:#538b3c;
    border-radius: 10px;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shortInfo {
    background: #598f014f;
    border-radius: 15px;
    padding: 20px;
    color: black;
    max-width: 500px;
}

.buttonContainer2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;   
    min-width: 100%;
}

.buttonContainer2 button {
    margin: 15px;
    font-size: 1.35rem;
    background: #34BA44;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.close {
    color: white;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: 40px;
}

@media (min-width: 615px) {
    .walker button, .owner button{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .walker button span, .owner button span{
        display: inline;
        color: white;
        padding: 5px;
    }

    .manageAccount, .dogData, .walkerData, .subscription, .review, .reviewBlock, .walkerPhotos, 
        .availableAppointments, .appointment, .walkerCard, .filterWalkers, .filter, #payment, #paymentPlan {
            margin-left: 10%;
            margin-right: 10%;
    }

    .manageAccount {
        margin-top: 5%;
        margin-bottom: 5%;
    }

}

@media (min-width: 800px) {
    .manageAccount, .dogData, .walkerData, .subscription, .review, .reviewBlock, .walkerPhotos, 
        .availableAppointments, .appointment, .walkerCard, .filterWalkers, .filter, #payment, 
        #paymentPlan {
            margin-left: 20%;
            margin-right: 20%;
    }

    #toolbar, header {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

}

@media (min-width: 900px) {
    html {
        background: radial-gradient(circle,rgba(253, 164, 0, 1) 0%, rgba(113, 54, 0, 1) 100%);
        display: flex;
        align-content: center;
        justify-content: center;
    }

    body {
        align-self: center;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    #toolbar, header {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    #toolbar {
        margin-bottom: 5%;
    }

    header {
        margin-top: 5%;
    }

    #payment {
        margin: 20px;
    }
}

